// Background

.bg-cover
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
.bg-contain
  -moz-background-size: contain
  -webkit-background-size: contain
  background-size: contain

.bg-center
  background-position: center center

.bg-no-repeat
  background-repeat: no-repeat



// Borders

.border-top
  border-top: 1px solid $grey

.border-bottom
  border-bottom: 1px solid $grey
