/* Alignment */

.align-middle
  vertical-align: middle

.align-top
  vertical-align: top

.center
  text-align: center

.align-left
  text-align: left

.align-right
  text-align: right



/* Positioning */

.relative
  position: relative

.absolute
  position: absolute

.fixed
  position: fixed

.absolute-top
  @extend .absolute
  top: 0px
  left: 0px

.absolute-right
  @extend .absolute
  top: 0px
  right: 0px

.absolute-left
  @extend .absolute
  top: 0px
  left: 0px

.t0
  top: 0px
.l0
  left: 0px
.r0
  right: 0px
.b0
  bottom: 0px




.full-height
  height: 100%




/* Display */

.hide
  display: none

.inline-block
  display: inline-block

.mobile-table
  display: table
  table-layout: fixed
  width: 100%

.mobile-table-cell
  display: table-cell
  vertical-align: middle

@media screen and (min-width: $breakpoint)
  .table
    display: table
    table-layout: fixed
    width: 100%

  .table-cell
    display: table-cell
    vertical-align: middle

.block
  display: block


.border-box
  box-sizing: border-box
  -webkit-box-sizing: borer-box
  -moz-box-sizing: border-box






/* z-index */

.z-index-1
  z-index: 1
.z-index-top
  z-index: 300
.z-index-max
  z-index: 1001
